@import '../../constants/variables';

.week-site {

  &__item {
    margin-bottom: 25px;

    &__date {
    }

    &__image {
      border-radius: $border-radius !important;
      object-fit: cover;
      width: 100%;
      height: 40vw;
    }

    &__text {

      &__name {
      }
    }
  }
}
