@import "variables";

p {
  color: $basic-text-color;
}

h1 {
  color: $smart-cooking-color;
  font-weight: bold;
}

h2 {
  color: $smart-cooking-color;
  font-weight: bold;
}

// like h2 but other color
h3 {
  color: $basic-text-color;
  font-size: calc(1.325rem + .9vw);
  font-weight: bold;
}

h4 {
  color: $basic-text-color;
}

body {
  background-color: $background-color;
}

.site-header {
  color: $smart-cooking-color;
  font-weight: bold;
}
