@import '../../../src/constants/variables';

.shopping-list {
  &__headline {
    font-weight: bold;
  }

  &__ingredients {
    display: flex;
    margin-bottom: 15px;

    &__quantity {
      text-align: right;
      width: 25%;
      margin-right: 15px;
    }

    &__name {
      text-align: left;
      width: 65%;
    }

    &__checkbox {
      text-align: left;
      width: 10%;

      &__item {
        margin-bottom: 1rem;

        .form-check-input {
          padding: 10px;
          border-color: $smart-cooking-color-light;
          margin: 0 !important;
        }

        .form-check-input:focus {
          border: 1.5px solid $smart-cooking-color !important;
          box-shadow: none;
        }

        .form-check-input:checked {
          background-color: $smart-cooking-color;
        }
      }
    }
  }

  &__ingredients-checked {
    text-decoration: line-through;
    text-decoration-color: $smart-cooking-color;
    text-decoration-thickness: 3px;
  }
}
