@import '../../../src/constants/variables';

.login {
  &__input {
    height: 55px;
    border-radius: $border-radius;
    border-color: $smart-cooking-color-light;
  }

  &__input:focus {
    border: 1.5px solid $smart-cooking-color !important;
    box-shadow: none;
  }
}
