@import '../../constants/variables';

.settings {
  &__picture {
    width: 160px;
    height: 160px;
    margin: 0 auto 25px;

    &__wrapper {
      border: $smart-cooking-color solid 6px;
      border-radius: 50%;
      text-align: center;
      width: 160px;
      height: 160px;

      &__icon {
        color: $smart-cooking-color;
        font-size: 100px;
        padding-top: 25px;
      }
    }
  }

  .save {
    margin-bottom: 60px;
  }
}
