$smart-cooking-color: #ace08b;
$smart-cooking-color-light: #d6e5cc;
$basic-text-color: #0C1C01;
$background-color: #f1f6f1;
$selected-icon-color: #dc5b5b;
$border-radius: 10px;
$icon-font-size: 25px;
$icon-text-margin-right: 10px;
